<app-page-container>
  <h1>My playlists</h1>
  <div class="music-container">
    <iframe src="https://open.spotify.com/embed/user/sponsrob/playlist/1CVz8rad4rySVAU3aYvh5x" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed/user/sponsrob/playlist/4Xvy2yD9FzwNppIjvX40Km" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed/user/sponsrob/playlist/7LZVkv8mmswubQfHDs3R3Z" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</app-page-container>
