app-music {

  app-page-container {
    flex-direction: column;
  }
  .music-container {
    justify-content: space-around;
    opacity: 0;
    transition: opacity 1s;
    &.visible {
      opacity: 1;
    }
  }
}
